*.pem
*.Po
*.log
*.o
aclocal.m4
config.h
config.status
config.h.in
makefile.in
makefile
stamp-h1
README
src/.d*
ChangeLog
NEWS
build-aux/
configure
ssc_client
ssc_client_config
temp
.travis.yml
autom4te.cache
test
